---
name: Release Please
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          bump-minor-pre-major: true
          changelog-types: |
            { type: 'build', scope: 'deps', section: 'Dependency Updates' }
          release-type: go
